section{
    .features{
        .boxes{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media(max-width:640px){
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                text-align: center;
                gap: 13px;
                width: 300px;
                h2{
                    font-family: 'Philosopher', sans-serif;
                }
            }
        }
    }
}