@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 130px 0 50px;
    .tag{
        color: #DC780B;
        font-weight: 500;
    }
    h2{
        font-family: 'Philosopher', sans-serif;
        font-size: 31px;
    }
    &__descp{
        color: #050505;
        font-family: Roboto;
        @media(max-width: 800px){
            width: 100%;
        }
        width: 748px;
        margin-top: 10px;
    }
}